[Unit]
Description=Regata OS OEM Post Installation Service
PartOf=graphical-session.target
After=plasma-core.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 25
ExecStart=/usr/share/regataos/regataos-oem/regataos-oem-post
RemainAfterExit=true
Restart=on-failure

[Install]
WantedBy=default.target
