[Unit]
Description=OEM for Regata OS
Before=display-manager.service

[Service]
ExecStart=/bin/sh /usr/share/regataos/regataos-oem.sh

[Install]
WantedBy=graphical.target
