[Desktop Entry]
Exec=sleep 5; /usr/share/regataos/regataos-oem/regataos-oem-user
OnlyShowIn=KDE;
Type=Service
MimeType=
Terminal=false
X-KDE-autostart-after=root
X-KDE-StartupNotify=false
X-KDE-autostart-condition=AutoStart:true
Icon=system-run
GenericName=regataos-oem-user
Name=regataos-oem-user
