[Desktop Entry]
X-SuSE-translate=true
Categories=Qt;System;PackageManager;
Comment[pt_BR]=Instale o Regata OS no seu PC
Comment[pt_PT]=Instale o Regata OS no seu PC
Comment[en_GB]=Install Regata OS on your PC
Comment[es]=Instale Regata OS en su PC
Comment=Install Regata OS on your PC
Encoding=UTF-8
Exec=live-installer
GenericName[pt_BR]=Instale o Regata OS no seu PC
GenericName[pt_PT]=Instale o Regata OS no seu PC
GenericName[en_GB]=Install Regata OS on your PC
GenericName[es]=Instale Regata OS en su PC
GenericName=Install Regata OS on your PC
Icon=calamares
MimeType=
Name[pt_BR]=Instalar o Regata OS
Name[pt_PT]=Instalar o Regata OS
Name[en_GB]=Instalall the Regata OS
Name[es]=Instalar el Regata OS
Name=Instalall the Regata OS
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.22
X-KDE-SubstituteUID=false
X-KDE-Username=
